extends layout

block content
  .bg-gradient-to-r.from-skyblue.to-navyblue.text-white.text-center
    .container.mx-auto.px-4.pb-28.pt-40(class="xl:px-32")
      h1.text-6xl.font-bold.mb-4 About Us
      p.text-2xl Everything you need to know about Kochii
  section.container.mx-auto.px-4.py-16.grid.grid-cols-1.gap-8(
    class="xl:px-32 md:grid-cols-2"
  )
    div(class="md:col-span-1")
      h2.text-4xl.font-light.bg-gradient-to-r.from-skyblue.to-navyblue.text-transparent.bg-clip-text.mb-4 Who created Kochii?
      p.
        Kochii is a personal open source project created by Jeffrey Ram Pineda as a hobby. 
        It is created with Angular as a frontend framework, Express.js for the backend server, 
        and MongoDB as its database.
      p.
        Have any questions? Got any suggestions? Fill the form on your
        right or use kochii's primary email contact@kochii.app
      h2.text-4xl.font-light.bg-gradient-to-r.from-skyblue.to-navyblue.text-transparent.bg-clip-text.my-4 What is Kochii?
      p.
        Knowing how to prepare your meals in advance will help you save
        money. Kochii is designed to keep track of busy people's cooking
        ingredients with the intention of assisting and promoting
        home-cooked meals.
      p.
        Through Kochii's upcoming recipe feature, cooking instructions
        can be archived for later use and will reveal to the user which
        recipes he/she can and cannot make in relation to his/her
        recorded inventory.
    div
      h2.text-4xl.text-center.mb-4 Contact
      form(method="POST", action="/send")
        .text-xl.mb-4
          label.block.my-2(for="name") Name
          input#name.appearance-none.border.rounded.w-full.py-2.px-3(
            type="text",
            name="from_name",
            placeholder="Full Name *"
          )
        .text-xl.mb-4
          label.block.my-2(for="email") Email address
          input#email.appearance-none.border.rounded.w-full.py-2.px-3(
            type="text",
            name="from_email",
            placeholder="Email Address *"
          )
        .text-xl.mb-4
          label.block.my-2(for="body") Message
          textarea#body.appearance-none.border.rounded.w-full.py-2.px-3(
            type="text",
            name="body",
            rows="7",
            placeholder="Message",
            style="resize: none"
          )
        .text-center
          button.font-bold.rounded-full.bg-gradient-to-r.from-skyblue.to-navyblue.text-white.py-4.px-12(
            type="submit"
          ) Send
