extends layout

block content
  div(class="hero text-white d-flex d-flex-align-center d-flex-justify-center")
    div(class="container p-1 w-100")
      h1(class="header-1") Organize your kitchen
      h4(class="lead mt-1 mb-2") Kochii assists and encourages individuals for a manageable meal preparation lifestyle
      div(class="row text-center")
        a(class="btn bg-blue-gradient" href="/register" role="button") Sign Up
        a(class="btn btn--border-white" href="#features" role="button") Learn More
    a(class="text-white" href="#features" style="cursor: pointer; font-size: 4em; position: absolute; bottom: 0;")
      i(class="bi bi-chevron-compact-down")
  div(class="container")
    section(class="features text-center p-1" id="features")
      div(class="row")
        div(class="features__card col shadow")
          i(class='bi bi-clipboard-check icon-blue-gradient')
          h3(class="text-feature py-1") Record   
          p.
            Keep track of what you buy and use on a week-by-week basis and
            organize them using Kochii's simplified user interface.
        div(class="features__card col shadow")
          i(class='bi bi-bell icon-blue-gradient')
          h3(class="text-feature py-1") Notify 
          p.
            Receive real-time up to date notifications regarding the
            status of your inventory with a quick glance.
        div(class="features__card col shadow")
          i(class='bi bi-bar-chart-line icon-blue-gradient')
          h3(class="text-feature py-1") Analyze 
          p.
            Examine a summary of your inventory's current and weekly
            state, and gain insights on your unforeseen behaviors.
    section(class="p-1 pt-2 pb-3")
      div(class="brd-rad-1 shadow")
        div(class="row")
          div(class="col p-1")
            h4(class="sub-header-1") A mindful approach to consumption
            p(class="my-1").
              Recognize what you have, purchasing only what you truly need, and reduce waste to 
              not only save money but also minimize your environmental impact.
            div(class="row text-center mb-1")
              div(class="col")
                i(class='bi bi-book icon-blue-gradient')
                h3(class="text-feature") Find Recipes
              div(class="col brd-x-1")
                i(class='bi bi-bag icon-blue-gradient')
                h3(class="text-feature") Grocery List
              div(class="col")
                i(class='bi bi-wallet2 icon-blue-gradient')
                h3(class="text-feature") Save Money
            div(class="row")
              a(class="btn bg-blue-gradient text-center" href="/register" role="button") Sign Up
          div(class="col")
            img(class="features--image" alt="Recipe website opened on a Mac laptop screen" src="/public/images/different-vegetables-textile-bag-beige.png" loading="lazy")
  div(class="bg-white pb-3")
    div(class="container")
      section(class="featured-recipes" id="featured-recipes")
        h2(class="header-3 text-end") Share your recipes
        h4(class="sub-header-1 text-end mb-2") What's the best way to cook chicken?
        if latest_posts.length > 0
          div(class="recipes__container")
            each post, index in latest_posts
              div(class="featured-recipes__card")
                a(style="display: block; height: 100%;" href=post.url)
                  img(class="featured-recipes__card--image" src=`data:${post.banner.contentType};base64,${post.banner.data.toString('base64')}`)
                  div(class="featured-recipes__card--content text-white")
                    h4(class="recipes__card--title") #{post.title}
                    p by #{post.author.full_name_formatted}
                    div(class="recipes__tags mt-1")
                      each tag, index in post.tags
                        span #{tag}
                        if index < post.tags.length - 1
                          i(class="bi bi-dot")
        else
          h2(class="text-center") Be the first to share!
  div(class="bg-line-slash newsletter text-white")
    div(class="container d-flex d-flex-align-center h-100 p-1")
      h2(class="header-3") Always Providing the Best Service
      a(class="btn bg-white text-primary" href="#features" role="button") Join Newsletter
  div(class="bg-primary text-white pt-3")
    div(class="container")
      section(class="p-1")
        h2(class="header-3 text-center mb-2") Who we are
        div(class="row")
          div(class="col")
            img(class="features--image" alt="Recipe website opened on a Mac laptop screen" src="/public/images/andy-chilton-0JFveX0c778-unsplash.png" loading="lazy")
          div(class="col")
            h4(class="sub-header-1") Who created Kochii?
            p(class="my-1").
              Kochii is a personal open source project created by Jeffrey Ram Pineda as a hobby. 
              It is created with Angular as a frontend framework, Express.js for the backend server, 
              and MongoDB as its database.
            h4(class="sub-header-1") What is Kochii?
            p(class="my-1").
              Knowing how to prepare your meals in advance will help you save money. Kochii is designed 
              to keep track of busy people's cooking ingredients with the intention of assisting and 
              promoting home-cooked meals. Through Kochii's upcoming recipe feature, cooking instructions 
              can be archived for later use and will reveal to the user which recipes he/she can and 
              cannot make in relation to his/her recorded inventory.
  div(class="container")
    section(class="featured-recipes" id="faq")
      h2(class="header-3 text-center mb-2") Frequently Asked Questions
      div(class="accordion")
        h4(class="sub-header-1") General:
        div(class="accordion-item shadow")
          button(aria-expanded="false")
            span How do I sign up?
              span(class="icon" aria-hidden="true")
          div(class="accordion-content")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
        div(class="accordion-item shadow")
          button(aria-expanded="false")
            span Can I remove a recipe?
              span(class="icon" aria-hidden="true")
          div(class="accordion-content")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
        h4(class="sub-header-1 mt-2") Account:
        div(class="accordion-item shadow")
          button(aria-expanded="false")
            span How do I change my password?
              span(class="icon" aria-hidden="true")
          div(class="accordion-content")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
        div(class="accordion-item shadow")
          button(aria-expanded="false")
            span How do I delete my account?
              span(class="icon" aria-hidden="true")
          div(class="accordion-content")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
        div(class="accordion-item shadow")
          button(aria-expanded="false")
            span How do I change my account settings?
              span(class="icon" aria-hidden="true")
          div(class="accordion-content")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
    section(class="row d-flex-align-center d-flex-justify-center g-2 pb-2")
      img(class="technologies--icon" alt="Logo of Angular" src="/public/images/angular-logo.svg")
      img(class="technologies--icon" alt="Logo of Angular Material" src="/public/images/material-logo.svg")
      img(class="technologies--icon" alt="Logo of FoodData Central's USDA " src="/public/images/usda-logo.svg")
      img(class="technologies--icon" alt="Logo of expressJS" src="/public/images/expressjs-logo.svg")
      img(class="technologies--icon" alt="Logo of MongoDB " src="/public/images/mongodb-logo.svg")
  div(class="bg-white")
    div(class="container")
      section(class="featured-recipes" id="faq")
        h2(class="header-3 text-center") Contact
        h4(class="sub-header-1 text-center mb-2") Get a hold of us. We're always happy to talk!
        form(method="POST" action="/send")
          div(class="form-group")
            label(class="form-group--label" for="name") Name
            input(class="form-group--control" type="text" name="from_name" id="name" placeholder="Full Name *")
          div(class="form-group")
            label(class="form-group--label" for="email") Email address
            input(class="form-group--control" type="text" name="from_email" id="email" placeholder="Email Address *")
          div(class="form-group")
            label(class="form-group--label" for="body") Message
            textarea(class="form-group--control" type="text" name="body" id="body" rows="7" placeholder="Message" style="resize: none;")
          div(class="text-center")
            button(class='btn bg-blue-gradient' type="submit") Send