extends layout

block content
  section.bg-cover.bg-no-repeat.bg-center.text-white.h-screen(
    class="bg-[url('/public/images/close-up-portrait-female-hands-slicing-vegetables.jpg')]"
  )
    .h-full(class="backdrop-brightness-[.25]")
      .h-full.container.mx-auto.px-4.flex.flex-col.justify-center.gap-8(
        class="xl:px-32"
      )
        h1.text-6xl.font-bold Organize your kitchen
        p.text-2xl Kochii assists and encourages individuals for a manageable meal preparation lifestyle
        .flex.flex-col.gap-4.text-center(class="md:flex-row")
          a.font-bold.rounded-full.bg-gradient-to-r.from-skyblue.to-navyblue.text-white.py-4.px-16(
            href="/signup",
            role="button"
          ) Sign Up
          a.font-bold.rounded-full.text-white.border.py-4.px-16(
            href="/#features",
            role="button"
          ) Learn More
      .absolute.pb-16.w-full.bottom-0.flex.justify-center
        a(href="/#features")
          i.bi.bi-chevron-compact-down.text-6xl
  .bg-gray-100
    .container.mx-auto.px-4(class="xl:px-32")
      section#features.flex.flex-col.gap-8(class="lg:flex-row mt-[-4rem]")
        .flex-1.z-10.bg-white.rounded-ss-3xl.rounded-ee-3xl.shadow-2xl.text-center.py-16.px-8
          i.bi.bi-clipboard-check.text-6xl.bg-gradient-to-r.from-skyblue.to-navyblue.text-transparent.bg-clip-text
          h3.text-xl.font-bold.my-4 Record
          p.
            Keep track of what you buy and use on a week-by-week basis and
            organize them using Kochii's simplified user interface.
        .flex-1.z-10.bg-white.rounded-ss-3xl.rounded-ee-3xl.shadow-2xl.text-center.py-16.px-8
          i.bi.bi-bell.text-6xl.bg-gradient-to-r.from-skyblue.to-navyblue.text-transparent.bg-clip-text
          h3.text-xl.font-bold.my-4 Notify
          p.
            Receive real-time up to date notifications regarding the
            status of your inventory with a quick glance.
        .flex-1.z-10.bg-white.rounded-ss-3xl.rounded-ee-3xl.shadow-2xl.text-center.py-16.px-8
          i.bi.bi-bar-chart-line.text-6xl.bg-gradient-to-r.from-skyblue.to-navyblue.text-transparent.bg-clip-text
          h3.text-xl.font-bold.my-4 Analyze
          p.
            Examine a summary of your inventory's current and weekly
            state, and gain insights on your unforeseen behaviors.
      section.py-16.flex.justify-between
        .flex-1.text-center
          h2.text-5xl.font-light.bg-gradient-to-r.from-skyblue.to-navyblue.text-transparent.bg-clip-text(
            class="lg:text-left"
          ) A mindful approach to consumption
          p.my-8(class="lg:text-left").
            Recognize what you have, purchasing only what you truly need, and reduce waste to 
            not only save money but also minimize your environmental impact.
          .flex.flex-col.gap-6.justify-center(class="md:flex-row lg:justify-start")
            div(class="")
              i.bi.bi-book.text-6xl.bg-gradient-to-r.from-skyblue.to-navyblue.text-transparent.bg-clip-text
              h3.text-xl.font-medium.mt-4 Find Recipes
            div(class="md:border-x md:px-6")
              i.bi.bi-bag.text-6xl.bg-gradient-to-r.from-skyblue.to-navyblue.text-transparent.bg-clip-text
              h3.text-xl.font-medium.mt-4 Grocery List
            div(class="")
              i.bi.bi-wallet2.text-6xl.bg-gradient-to-r.from-skyblue.to-navyblue.text-transparent.bg-clip-text
              h3.text-xl.font-medium.mt-4 Save Money
          .mt-16.flex.flex-col.justify-center(class="md:flex-row lg:justify-start")
            a.font-bold.rounded-full.bg-gradient-to-r.from-skyblue.to-navyblue.text-white.py-4.px-12(
              href="/signup",
              role="button"
            ) Sign Up
        .hidden.flex-1(class="lg:block")
          img.h-full.w-full.rounded-ee-3xl(
            alt="A white grocery bag filled with apples, asparagus, potatoes, and tomatoes",
            src="/public/images/different-vegetables-textile-bag-beige.png",
            loading="lazy"
          )
  section#featured-recipes.container.mx-auto.px-4.pt-16.pb-32(class="xl:px-32")
    h2.text-4xl.font-medium.text-center Share your recipes
    p.text-2xl.bg-gradient-to-r.from-skyblue.to-navyblue.text-transparent.bg-clip-text.text-center.mb-16 Whats the best way to cook chicken?
    if latest_posts.length > 0
      .grid.grid-cols-1.gap-4.text-white(class="md:grid-cols-4")
        each post, index in latest_posts
          article.rounded-3xl.relative.overflow-hidden(
            class="md:first:col-span-2 md:last:col-span-2"
          )
            a(style="display: block; height: 100%", href=post.url)
              img.rounded-3xl.object-cover.w-full.brightness-50.duration-200(
                class="h-[20rem] hover:scale-110 hover:brightness-100",
                src=`data:${post.banner.contentType};base64,${post.banner.data.toString('base64')}`
              )
              .rounded-3xl.w-full.absolute.bottom-0.p-4.flex.flex-col.justify-end.pointer-events-none
                .rounded-3xl.py-1.px-4.backdrop-brightness-50
                  h4.text-xl.font-extrabold #{ post.title }
                  p Jeffrey Pineda
    else
      p.text-center.text-2xl Be the first to share!
  .bg-primary.text-white.pt-2
    section.bg-gradient-to-r.from-skyblue.to-navyblue.bg-no-repeat.text-center.py-8(
      class="lg:bg-[url('/public/images/line-slash.svg')] mt-[-4rem] lg:py-2 lg:bg-75%"
    )
      .container.mx-auto.px-4.flex.flex-col.gap-4.items-center.py-6(
        class="xl:px-32 lg:flex-row"
      )
        p.text-2xl Always providing the best service
        a.font-bold.rounded-full.bg-white.py-4.px-12.text-primary.shadow-2xl.border(
          href="#features",
          role="button"
        ) Join Newsletter
    section.container.mx-auto.px-4.py-16(class="xl:px-32")
      h2.text-4xl.font-medium.text-center.mb-16 Who we are
      .grid.grid-cols-3.gap-8
        .hidden(class="md:block")
          img(
            alt="A brown wooden table with a bowl of apples, a bowl of flour, a chopping board, a whisk, and a rolling pin.",
            src="/public/images/andy-chilton-0JFveX0c778-unsplash.png",
            loading="lazy"
          )
        .col-span-3(class="md:col-span-2")
          h3.text-2xl.bg-gradient-to-r.from-skyblue.to-navyblue.text-transparent.bg-clip-text Who created Kochii?
          p.my-4.
            Kochii is a personal open source project created by Jeffrey Ram Pineda as a hobby since early college. 
            It is created with Angular as a frontend framework, Express.js for the backend server, 
            and MongoDB as its database.
          h3.text-2xl.bg-gradient-to-r.from-skyblue.to-navyblue.text-transparent.bg-clip-text What is Kochii?
          p.my-4.
            Knowing how to prepare your meals in advance will help you save money. Kochii is designed 
            to keep track of busy people's cooking ingredients with the intention of assisting and 
            promoting home-cooked meals. Through Kochii's upcoming recipe feature, cooking instructions 
            can be archived for later use and will reveal to the user which recipes he/she can and 
            cannot make in relation to his/her recorded inventory.
  .bg-gray-100
    .container.mx-auto.px-4(class="xl:px-32")
      section#faq.py-16
        h2.text-4xl.font-medium.text-center Frequently Asked Questions
        p.text-2xl.bg-gradient-to-r.from-skyblue.to-navyblue.text-transparent.bg-clip-text.text-center.mb-16 For quick answers to common queries.
        .accordion
          h3.text-2xl.bg-gradient-to-r.from-skyblue.to-navyblue.text-transparent.bg-clip-text General:
          .accordion-item.shadow-2xl
            button(class="hover:text-skyblue", aria-expanded="false")
              span.font-medium How do I sign up?
                span.icon(aria-hidden="true")
            .accordion-content
              p.
                To sign up, click the &quot;Sign Up&quot; button at the top of our website or use the direct link 
                #[a.text-navyblue.underline(href="/signup", target="_blank") sign up]. Fill in the required information on 
                the registration page, and you'll be all set to start using our platform.
          .accordion-item.shadow-2xl
            button(class="hover:text-skyblue", aria-expanded="false")
              span.font-medium Can I remove a recipe?
                span.icon(aria-hidden="true")
            .accordion-content
              p Yes, you can remove a recipe you have created by following these steps:
              ol.list-decimal.list-inside
                li Log into your account.
                li Navigate to the &quot;Creations&quot; page.
                li Select the recipe you want to delete.
                li Click the &quot;Delete&quot; button located at the top right of the page.
              p.
                To remove recipes not created by you, send us an email at #[a.text-navyblue.underline(href="mailto:contact@kochii.app") contact@kochii.app].
                Include a reason as to why you want it to be removed and we will review your request.
          h3.text-2xl.bg-gradient-to-r.from-skyblue.to-navyblue.text-transparent.bg-clip-text.mt-8 Account:
          .accordion-item.shadow-2xl
            button(class="hover:text-skyblue", aria-expanded="false")
              span.font-medium How do I change my password?
                span.icon(aria-hidden="true")
            .accordion-content
              p Currently, you cannot change your password. This feature is expected to be implemented in the next version.
          .accordion-item.shadow-2xl
            button(class="hover:text-skyblue", aria-expanded="false")
              span.font-medium How do I delete my account?
                span.icon(aria-hidden="true")
            .accordion-content
              p Be careful, deleting your account is irreversible. You can delete your account by following these steps: 
              ol.list-decimal.list-inside
                li Log into your account.
                li Navigate to the &quot;Settings&quot; page.
                li Navigate to the &quot;Account&quot; section/sub-page.
                li Scroll down to the Danger Zone.
                li Click the &quot;Delete your account&quot; button.
              p.
                If there are any issues or concerns, feel free to send us an email at #[a.text-navyblue.underline(href="mailto:contact@kochii.app") contact@kochii.app].
                We&apos;re always happy to talk!
          .accordion-item.shadow-2xl
            button(class="hover:text-skyblue", aria-expanded="false")
              span.font-medium How do I change my account settings?
                span.icon(aria-hidden="true")
            .accordion-content
              p You can change your account settings by following these steps: 
              ol.list-decimal.list-inside
                li Log into your account.
                li Navigate to the &quot;Settings&quot; page.
                li Navigate to the &quot;Account&quot; section/sub-page.
                li Click the &quot;Edit&quot; button located at the top right of the page.
                li Make your edits.
                li Click the &quot;Save&quot; button located at the top right of the page.
              p.
                If there are any issues or concerns, feel free to send us an email at #[a.text-navyblue.underline(href="mailto:contact@kochii.app") contact@kochii.app].
                We&apos;re always looking for feedbacks!
      section.flex.flex-col.justify-center.gap-8.pb-16(class="md:flex-row")
        img.h-16.object-contain.opacity-50.duration-200(
          class="hover:opacity-100",
          alt="Logo of Angular",
          src="/public/images/angular-logo.svg"
        )
        img.h-16.object-contain.opacity-50.duration-200(
          class="hover:opacity-100",
          alt="Logo of Angular Material",
          src="/public/images/material-logo.svg"
        )
        img.h-16.object-contain.opacity-50.duration-200(
          class="hover:opacity-100",
          alt="Logo of FoodData Central's USDA ",
          src="/public/images/usda-logo.svg"
        )
        img.h-16.object-contain.opacity-50.duration-200(
          class="hover:opacity-100",
          alt="Logo of ExpressJS",
          src="/public/images/expressjs-logo.svg"
        )
        img.h-16.object-contain.opacity-50.duration-200(
          class="hover:opacity-100",
          alt="Logo of MongoDB ",
          src="/public/images/mongodb-logo.svg"
        )
  section#contact.container.mx-auto.px-4.py-16(class="xl:px-32")
    h2.text-4xl.font-medium.text-center Contact
    p.text-2xl.bg-gradient-to-r.from-skyblue.to-navyblue.text-transparent.bg-clip-text.text-center.mb-16 Get a hold of us. We're always happy to talk!
    form(method="POST", action="/send")
      .text-xl.mb-4
        label.block.my-2(for="name") Name
        input#name.appearance-none.border.rounded.w-full.py-2.px-3(
          type="text",
          name="from_name",
          placeholder="Full Name *"
        )
      .text-xl.mb-4
        label.block.my-2(for="email") Email address
        input#email.appearance-none.border.rounded.w-full.py-2.px-3(
          type="text",
          name="from_email",
          placeholder="Email Address *"
        )
      .text-xl.mb-4
        label.block.my-2(for="body") Message
        textarea#body.appearance-none.border.rounded.w-full.py-2.px-3(
          type="text",
          name="body",
          rows="7",
          placeholder="Message",
          style="resize: none"
        )
      .text-center
        button.font-bold.rounded-full.bg-gradient-to-r.from-skyblue.to-navyblue.text-white.py-4.px-12(
          type="submit"
        ) Send
